* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
}

#header-inicio {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    background: rgb(159,165,193);
    background: radial-gradient(circle, rgba(159,165,193,1) 0%, rgba(255,228,196,1) 0%, rgb(211, 197, 209) 92%);
    z-index: 1;
    /* background-image: url('https://i.pinimg.com/originals/57/b5/8c/57b58c6a3f92e02ecfe75c79c06aaa0e.jpg');
    background-size: cover;
    background-position: 30% 50%;
    background-blend-mode:luminosity;
    background-repeat: no-repeat; */
}

.nav-list{
    display: flex;
    margin: 5%;
}

.order-list{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.list-item-inicio {
    font-size: 15pt;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    margin: 10px;
    color: #000;
    transition: 0.2s;
}

.list-item-inicio:hover {
    outline-offset: 5px;
    outline-style: ridge;
    outline-color: #f7d47e;
}

#icons-social-footer{
    display: none;
}
.icons-social {
    width: 300px;
    display: flex;
    align-content: end;
    justify-content: space-evenly;
}

#icon {
    font-size: 20px;
    color: #000;
    transition: all linear 300ms;
}

#icon:hover {
    transform: scale(1.8);
    color: #f0f8ff;
}

.cruz-img-container {
    margin-left: 60px;
}

#cruz-logo {
    width: 150px;
    height: 180px;
    margin-left: 60px;
}

.post-day {
    height: 500px;
    margin: 80px;
    background-image: url('./Identidade-PromessasPreciosas2.jpg');
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    justify-content: center;
}

.content-author-post {
    margin: 80px;
}

.author {
    text-align: justify;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.sobre-author {
    text-align: justify;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.italic {
    color: #000;
}


#content-post-day {
    flex: 1 auto;
}

.post-day-box {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.post-row {
    display: flex;
    margin: 0 -15px;
}

#post-numero-50 {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 15px;
    flex-grow: 1;
    max-width: 70%;
    word-break: break-word;
}

.post-info {
    margin-top: 60px;
}

.post-top {
    font-size: larger;
}

.post-paragrafo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    margin-bottom: 20px;
}

#container-load-text {
    display: flex;
    justify-content: center;
}

#load-text {
    font-size: 18px;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

#load-text:focus,
#load-text:hover {
     color: #fcc844;
}

#load-text:focus:after,
#load-text:hover:after {
    width: 100%;
    left: 0%;
}

#load-text:after {
    content: "";
    pointer-events: none;
    width: 0%;
    height: 2px;
    left: 50%;
    bottom: -2px;
    position: absolute;
    background-color: #000000;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.index-artigos {
    display:grid;
    grid-template-columns:repeat(2, 2fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1400px;
    background: rgb(159,165,193);
    background: radial-gradient(circle, rgba(159,165,193,1) 0%, rgba(255,228,196,1) 0%, rgba(211,197,209,1) 92%);
    margin: 0 auto;
    margin-top: 20px;
}

.content-box-artigos {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 40px 0 40px;

}

.box-artigos {
    width: 100%;
    height: 600px;
    margin: 30px;
}


.img-artigos {
    display: flex;
    position: relative;
    left: 50px;
    width: 500px;
    height: 400px;
}

.box-info-img {
    border-color: #080808;
    border-top: 12px solid;
    position: relative;
    max-width: 100%;
    width: 400px;
    height: 200px;
    background-color: #f7d47e;
    bottom: 75px;
    left: 100px;
}

.top-info {
    margin: 20px;
}

.reading-time {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px ;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
}

h3 {
    font-family: "Blacker Display", helvetica, arial, verdana, sans serif;
    font-size: 20px;
    line-height: 25px;
    margin: 10px 60px;
}

h3:hover {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    cursor: pointer;
}

#btn-artigo {
    position: relative;
    display: flex;
    left: 27%;
    top: 11px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #060b11;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
}

#btn-artigo:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #fff;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

#btn-artigo:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}


.link-artigo {
    display: flex;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.link-artigo:hover {
    color: #f3c247;
    cursor: pointer;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(1);
    }
   }


   .subscribe-container {
    max-width: 1168px;
    height: 125px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(14,13,11,1) 37%, rgba(0,0,0,1) 52%, rgba(255,228,196,1) 100%);
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}


.subscribe-content {
    display: grid;
    grid-template-columns: auto 30% 1fr;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
}
 


.sub-novidades {
    color: #fff;
    font-family: "Athletics", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
}

.sub-forms-container {
    display:flex;
    width: 100%;

}

.email {
    display: flex;
    width: 100%;
}


.inpt-email {
    background-color: #FFDED6;
    border: #ffe4c4;
    width: 100%;
    height: 60px;
    padding: 20px;
    float: left;
    outline: none;
}

.inpt-email::placeholder {
    font-size: 17px;
    letter-spacing: 2px;
    color: #615f5f;
}


#btn-submit {
    height: 60px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    padding: 20px 20px;
    line-height: 1;
    background-color: #f5c03af6;
    cursor: pointer;
    transition: 200ms;
}

#btn-submit:hover {
    background-color: #fff;
}


.footer-main {
    background-color: #000000;
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 1px;
}

.footer-main-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    margin: 0 auto;
}

.footer-main-navigation {
    width: calc(25% - 16px);
    height: 250px;
}

#main-footer-header {
    text-transform: uppercase;
    line-height: 1;
    display: grid;
    justify-content: left;
    align-items: flex-start;
}

.title-footer-about {
    display: inline;
    font-size: 24px;
    color: #fff;
    font-family: "Athletics", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;  
}

.footer-main-navigation-list {
    display: grid;
    color: #f0f8ff;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

.footer-list-item {
    color: #f7d47e;
    font-size: 11pt;
    font-family: "Athletics", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    margin: 7px;
    transition: 0.2s;
    cursor: pointer;
}

.footer-list-item:hover {
    outline-offset: 5px;
    outline-style: ridge;
    outline-color: #f7d47e;
}

.copyright {
    font-size: 20px;
    font-style: italic;
    margin-top: 30px;
}

.text-copy {
    color: #fff;
}

#link-copy {
    color: #fff;
    text-decoration: underline;
}

@media (max-width:1115px) {
    .icons-social {
        display: none;
    }

    #icons-social-footer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content:center;
        background: rgb(159,165,193);
        background: linear-gradient(90deg, rgba(159,165,193,1) 0%, rgba(159,165,193,1) 5%, rgba(255,228,191,1) 35%, rgba(211,197,209,1) 100%);
    }

    #icon-footer {
        font-size: 18px;
        margin: 20px;
        color: #000;
        transition: all linear 300ms;
    }

    #icon-footer:hover {
        transform: scale(1.5);
        color: #fff;
    }
    .img-artigos {
        width: 300px;
    }

    .box-info-img {
        left: 0;

    }

    @media (max-width: 936px) {
        .content-box-artigos {
            margin: 0;
        }
        
        .index-artigos{
            margin-top: 0;
            grid-template-columns: none;
            height: auto;
        }

        .reading-time{
            font-size: 15px;
        }
        
        
    }

}


@media (max-width:845px) {
    #cruz-logo {
        margin-left: 0;
    }
    
}

@media (max-width: 787px) {
   
    .title-footer-about {
        font-size: 20px;
    }
}

@media (max-width: 779px) {
    .subscribe-container {
        height: 250px;
    }

    .subscribe-content {
        grid-template-columns: none;
    }
    
    .list-item-inicio {
        margin: 5px;
    }

}
@media (max-width: 734px) {
    .cruz-img-container {
        margin-left: 0;
    }
    
    .footer-main {
        letter-spacing: normal;
    }

    .title-footer-about {
        font-size: 16px;
    }

    .copyright {
        font-size: 15px;
    }
}

@media (max-width: 668px) {
    .order-list {
        display: grid;
    }

    .icons-social {
        display: none;
    }

    #icon {
        font-size: 17px;
    }

    #icon:hover {
        transform: scale(1.4);
    }


    .post-day {
        margin: 0;
    }
    

}

@media (max-width: 490px) {
    .copyright {
        font-size: 15px;
        width: 300px;
        margin-top: 70px;
    }

    #cruz-logo {
        width: 122px;
        height: 160px;
    }

    @media (max-width: 475px){
        .box-info-img {
            width: 300px;
        }

        .img-artigos {
            left: auto;
        }

        #btn-artigo {
            left: 17%;
        }

        h3 {
            font-size: 16px;
            margin: 0;
            text-align: center;
        }


    }

    .footer-main{
        height: 100%;
        width: 100%;
    }

    .footer-main-container{
        display: grid;
        justify-content:space-around;
        width: 100%;
        height: 100%;
    }

    .footer-main-navigation {
        width: 100%;
        height: 250px;
    }

    #header-inicio {
        display: grid;
        width: 100%;
    }

    .icons-social {
        display: none;;
       
    }

    .copyright {
        margin-top: 550px;
    }

    .cruz-img-container {
        justify-content: center;
        display: grid;
    }

    @media (max-width: 369px) { 
        #header-inicio {
            display: grid;
        }
        
        #icons-social-footer {
            white-space: none;
        }

        #icon-footer {
            margin: 20px;
        }

        
    }

    @media (max-width: 330px) {
        #header-inicio {
            width: 330px;
        }
        
        .footer-main {
            width: 330px;
        }
    }

}
